.navLinks {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 80px);
  text-align: center;
}
.navLinks li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  color: #fff;
  cursor: pointer;
}
.contactz {
  width: 7rem;
  padding: 0.7rem;
  background: #ac1d58;
  border: none;
  border-radius: 2px;
  color: #fff;
  transition: all 0.9s ease 0s;
}

.navLinks li:hover {
  color: #ac1d58;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 480px) {
  .navLinks {
    grid-template-rows: repeat(6, 60px);
  }
} ;
