.containerx {
  height: 100vh !important;
  margin: 0% 10% !important;
  background: linear-gradient(#ac1d58 0 0) 0 0/0 100%,
    linear-gradient(#ac1d58 0 0) 205% 0/50% 100%#000;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.3s linear, background-position 0.3s 0.3s linear;
}
.container:before {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 15px;
  background: linear-gradient(#ac1d58 0 0) 0 0/0 100%,
    linear-gradient(#ac1d58 0 0) 205% 0/50% 100%;
  background-repeat: no-repeat;
  transition: 0.3s linear, background-size 0.3s 0.3s linear;
}
.container:hover,
.container:hover:before {
  background-size: 51% 100%;
  background-position: 0 0, 100% 0;
}

@media screen and (max-width: 767px) {
  .containerx {
    height: 100vh !important;
    margin: 0 0% !important;
  }
}
