.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 75%;
  padding: 0rem 5%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  border: 1px solid rgba(215, 220, 217, 0.5);
  border-radius: 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1),
    1px 1px 6px 1px rgba(63, 4, 35, 0.03);
  transition: all 0.5s ease-in-out 0.5s;
}
.formHolder p {
  text-align: center;
  margin-bottom: 2rem;
}
.formHolder:hover {
  /* background: transparent; */
  border: 1px solid #ac1d58;
  box-shadow: 1px 1px 4px rgba(186, 49, 240, 0.1),
    1px 1px 6px 1px rgba(4, 46, 63, 0.03);
}
.form {
  padding: 3rem 2rem;
  height: 55vh;
  width: 50%;
  border-radius: 1rem;
  background: linear-gradient(
    to right bottom,
    rgba(60, 50, 109, 0.1),
    rgba(210, 255, 255, 0.1)
  );
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1),
    1px 1px 6px 1px rgba(63, 4, 35, 0.03);
}
.form label {
  margin-bottom: 20px;
}
.form input {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
  border-radius: 2px;
}
.form textarea {
  width: 100%;
  height: 8rem;
  margin-bottom: 1rem;
  outline: none;
  border: none;
}
.form button {
  width: 7rem;
  padding: 0.7rem;
  background: #ac1d58;
  border: none;
  border-radius: 2px;
  color: #fff;
  transition: all 0.9s ease 0s;
  cursor: pointer;
}
.form button:hover {
  background: transparent;
  border: 1px solid #ac1d58;
  color: #ac1d58;
}
.social {
  margin-top: 1rem;
}
.message {
  margin-top: -1rem;
}

@media screen and (min-width: 768px) {
  .container {
    height: 100vh;
  }
  .formHolder {
    height: 85vh;
  }
  .form {
    height: 35rem;
    width: 30rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    height: 50rem;
  }
  .formHolder {
    height: 45rem;
    width: 96%;
    border-radius: 0.5rem;
  }
  .form {
    height: 31rem;
    width: 100%;
  }
  .form input {
    width: 100%;
    height: 2.5rem;
  }
}
